BasedOnStyle: Mozilla
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
UseTab: ForContinuationAndIndentation
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: DontAlign
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 4
BreakConstructorInitializers: BeforeComma
AllowAllArgumentsOnNextLine: true
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
AlignOperands: DontAlign
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true